.Experience {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

#Column1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#Column1 h1 {
    margin: 5px 10px;
}

#Column2 {
    display: flex;
    flex-direction: column;
}

section {
    margin: 10px;
}

section p {
    padding: 10px 0;
}

.Heading {
    padding: 20px 0;
    color: dodgerblue;
}