@media (max-width: 768px) {

    .Experience {
        flex-direction: column;
    }
    
    #Column1 {
        width: 100%;
        padding: 0 0px;
        margin: 0;
    }

    .Download {
        margin-bottom: 15px;
    }
}