@media (max-width: 768px) {

    .Experience {
        flex-direction: column;
    }
    
    #Column1 {
        width: 100%;
        padding: 0 0px;
        margin: 0;
    }

    .Download {
        margin-bottom: 15px;
    }
}

@media (max-width: 568px) {

    h1, p, h4, button {
        padding: 0 !important;
        margin: 0 !important;
    }

}