.Tile {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
}

.Tile:hover {
    top: -5px;
    box-shadow: 5px 5px 5px 5px #888888;
    cursor: pointer;
}
