.Modal {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: slideInFromLeft 0.5s 0s linear;
}

.ModalContainer {
    width: 80%;
    height: 50%;
    box-sizing: border-box;
    background-color: #eee;
    box-shadow: 10px 10px 10px 10px #888888;
}

.X {
    position: relative;
    float: right;
    margin: 10px;
    align-items: right;
}

.X:hover {
    cursor: pointer;
}

.ModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 80%;
    margin: auto;
    padding-top: 5px;
    border-bottom: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.ModalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    padding: 15px;
}

.ModalFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.ModalFooter button {
    width: 100px;
    height: 25px;
    border-radius: 1rem;
    color: white;
    background-color: dodgerblue;
    font-size: 1rem;
}

.ModalFooter button:hover {
    cursor: pointer;
}