@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
     }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
     }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
     }
}

#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transform: skewY(-5deg);
    opacity: 100%;
    z-index: 1;
    background-color: black;
    position: fixed;
    z-index: -5;
}

.Container {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: skewY(5deg);
}

.blur {
    position: absolute;
    background-color: dodgerblue;
    box-shadow: 0 0 50px 100px dodgerblue;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    filter: blur(50px);
    opacity: 80%;
    z-index: -5;
}

#HomeLogo {
    z-index: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    /* animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-name: slideInFromTop; */
}

#HomeName {
    color: white;
    z-index: 1;
    font-size: 3.5rem;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 1px 1px 2px #888888;
}

#FName {
    display: inline-block; /* Needed for animation to work */
    /* animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-name: slideInFromLeft; */
}

#LName {
    display: inline-block; /* Needed for animation to work */
    animation-duration: 1s; 
    /* animation-timing-function: ease-out; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-name: slideInFromRight; */
}

.ChangingContent {
    z-index: 1;
    display: flex;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 2px #888888;
}

.DownArrow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.DownArrow img:hover {
    cursor: pointer;
}

#HomeDownArrow {
    position: absolute;
    bottom: 0;
}

#padding {
    height: 100vh;
    position: relative;
}

#Intro {
    position: relative;
    /* z-index: 2; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: white;
    transform: skewY(-5deg);
}

.Item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: skewY(5deg);
}

.Item img {
    object-fit: contain;
    border-radius: 100%;
    /* transform: skewY(-5deg); */
    margin-left: 100px;
}

.CenteredDescription {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CenteredDescription p:first-of-type {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.CenteredDescription p {
    padding: 50px;
}

.CenteredDescription button {
    margin: 50px;
    width: 120px;
    height: 40px;
    background-color: dodgerblue;
}

.CenteredDescription button a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

#IntroDownArrow {
    top: -150px;
}

#Work {
    position: relative;
    height: 100%;
    background-color: #888888;
    display: flex;
    align-items: center;
    transform: skewY(5deg);
    z-index: 1;
}

.CarouselContainer {
    width: 100%;
}

#Work .CarouselContainer {
    transform: skewY(-5deg);
}

#Outro {
    position: relative;
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: dodgerblue;
    transform: skewY(-5deg);
}

#Outro .Container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#OutroDownArrow {
    position: relative;
}