@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
     }
}

#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-name: slideInFromTop;
}

#HomeLogo {
    margin: auto;
}

#HomeName {
    margin: auto;
    font-size: 3.5rem;
    font-family: "Courier New", Courier, monospace;
}

.ChangingContent {
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    margin: auto;
}

.DownArrow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.DownArrow img:hover {
    cursor: pointer;
}

#HomeDownArrow {
    position: absolute;
    bottom: 0;
}

#Intro {
    display: grid;
    grid-template-columns: auto auto; 
}

.Item {
    width: 100%;
    height: 90vh;
}

.Item img {
    height: 100%;
    object-fit: contain;
}

.CenteredDescription {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CenteredDescription p:first-of-type {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.CenteredDescription p {
    padding: 50px;
}

.CenteredDescription button {
    margin: 50px;
    width: 120px;
    height: 40px;
    background-color: dodgerblue;
}

.CenteredDescription button a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

#IntroDownArrow {
    top: -150px;
}