@media (max-width: 768px) {

    #HomeName {
        margin: auto;
        font-size: 3.5rem;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
    }

    #Intro {
        display: flex;
        flex-direction: column;
    }

    .Item {
        display: flex;
        justify-content: center;
        height: 50%;
    }

    .Item img {
        width: 70%;
        object-fit: contain;
        border-radius: 0;
        margin-left: 0;
    }

    #IntroDownArrow {
        margin-top: 80px;
    }

    .CenteredDescription {
        padding-top: 0;
        margin-top: 0;
        width: 90%;
        display: flex;
    }

    .CenteredDescription p {
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .DownArrow {
        display: none;
    }

    #Me {
        height: 40vh;
        padding-top: 50px;
    }

}