@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
     }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
     }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
     }
}

@media (max-width: 768px) {

    #HomeName {
        margin: auto;
        font-size: 3.5rem;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
    }

    #HomeLogo {
        animation-duration: 1s; 
        animation-timing-function: ease-out; 
        animation-delay: 0s; 
        animation-iteration-count: 1; 
        animation-name: slideInFromTop;
    }

    #FName {
        display: inline-block; /* Needed for animation to work */
        animation-duration: 1s; 
        animation-timing-function: ease-out; 
        animation-delay: 0s; 
        animation-iteration-count: 1; 
        animation-name: slideInFromLeft;
    }
    
    #LName {
        display: inline-block; /* Needed for animation to work */
        animation-duration: 1s; 
        animation-timing-function: ease-out; 
        animation-delay: 0s; 
        animation-iteration-count: 1; 
        animation-name: slideInFromRight;
    }

    #Intro {
        display: flex;
        flex-direction: column;
    }

    .Item {
        display: flex;
        justify-content: center;
        height: 50%;
    }

    .Item img {
        width: 70%;
        object-fit: contain;
        border-radius: 0;
    }

    #IntroDownArrow {
        margin-top: 80px;
    }

    .CenteredDescription {
        width: 90%;
    }

    .CenteredDescription p {
        margin: auto;
    }

    .DownArrow {
        display: none;
    }

    #Me {
        height: 50vh;
        padding-top: 50px;
    }

}