@media (max-width: 768px) {

    .About {
        display: flex;
        flex-direction: column;
        top: 5px;
    }

    .About .Title {
        padding-bottom: 20px;
    }

    .AboutContainer {
        display: flex;
        flex-direction: column;
    }

    .ProfessionalImage {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .AboutContent p, h3 {
        padding: 10px 5px;
        margin: 10px;
    }

    #AboutFooter {
        position: relative !important;
        bottom: 0;
    }
}