@media (max-width: 768px) {

    .About {
        display: flex;
        flex-direction: column;
        top: 5px;
    }

    .AboutContent {
        overflow: auto;
    }

    .AboutContent p, h3 {
        padding: 10px 5px;
        margin: 10px;
    }

}