@keyframes hover {
    0% { 
        top: 0px; 
        box-shadow: 0px 0px 0px 0px #aaa;
    }
    100% {
        top: -15px;
        box-shadow: 5px 10px 18px 10px #aaa;
    }
}

@keyframes embed {
    0% {
        top: -15px;
        box-shadow: 5px 10px 18px 10px #aaa;
    }
    100% { 
        top: 0px; 
        box-shadow: 0px 0px 0px 0px #aaa;
    }
}

.Carousel {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 80vh;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 0px 0px #aaa;
    animation: embed;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    align-items: center;
    margin-bottom: 50px;
}

.Carousel:hover {
    animation: hover;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    box-shadow: 5px 10px 18px 10px #aaa;
    top: -15px;
}

.LeftArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}

.RightArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}

.Arrow {
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: block;
}

.Arrow:hover {
    cursor: pointer;
}
  
.Right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.Left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.CarouselContent {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.CarouselContent img {
    height: 100%;
}
