@media (max-width: 768px) {

    .LeftArrow {
        width: 10%;
    }
    
    .RightArrow {
        width: 10%;
    }

    .CarouselContent img {
        overflow: hidden;
        object-fit: contain;
    }

    .Carousel {
        width: 95%;
        height: 50vh;
    }
}