.Footer {
    color: white;
    background-color: black;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoLinks {
    display: flex;
    flex-direction: row;
}

.LogoLink {
    padding: 10px;
}