@media (max-width: 768px) {
    .Footer {
        position: relative;
        flex-direction: column;
        bottom: 0; 
        margin: 0;
        padding: 0;
    }

    p {
        padding: 0 !important;
        margin: 0
    }

}